/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

@font-face {
    font-family: 'coconregular';
    src: url('../font/cocon/cocon-webfont.eot');
    src: url('../font/cocon/cocon-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/cocon/cocon-webfont.woff2') format('woff2'),
        url('../font/cocon/cocon-webfont.woff') format('woff'),
        url('../font/cocon/cocon-webfont.ttf') format('truetype'),
        url('../font/cocon/cocon-webfont.svg#coconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'capriolaregular';
    src: url('../font/capriola/capriola-regular-webfont.eot');
    src: url('../font/capriola/capriola-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/capriola/capriola-regular-webfont.woff2') format('woff2'),
        url('../font/capriola/capriola-regular-webfont.woff') format('woff'),
        url('../font/capriola/capriola-regular-webfont.ttf') format('truetype'),
        url('../font/capriola/capriola-regular-webfont.svg#capriolaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */

textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}
/*
        General styles
*/
body {
    /*    font-family: "Source Sans Pro", Arial, sans-serif;*/
    background-color: #c7e1ff;
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
    height: 100%
}

h1, h2, h3, h4 {
    font-family: "coconregular", serif;
    color: #DD0014
}
h1 {
    font-weight: bold;
    font-size: 35px;
}
h2 {
    font-size: 20px;
}
a, a:visited {
    text-decoration: none;
    color: #2e639e;
}
a:hover {
    text-decoration: underline;
}
.touchonly {
    display: none;
}
html.touch .touchonly {
    display: block;
}
.noselect * {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
.doselect * {
    user-select: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -o-user-select: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.clearB {
    clear:both
}

.turqoise {
    background-color: #38ced7;
}
.brown {
    background-color: #a66f28;
}
.bordeaux {
    background-color: #953543;
}
.skin {
    background-color: #ED9F4C;
}
.black {
    background-color: #000000;
}
.white {
    background-color: #FFFFFF;
}
.red {
    background-color: #cf3535;
}
.green {
    background-color: #22d659;
}
.orange {
    background-color: #ea6300;
}
/* Custom ///////////////////////////*/

body {
    font-family: 'capriolaregular', sans-serif;
    overflow-x: hidden
}
/* Common */
.mainMenu {
/*    width: 62px;*/
    position: fixed;
    top: 50px;
    z-index: 999;
    right:0;
}
.mainMenu a{
    position: relative;
    display: block;
    margin-bottom: 10px;
    right:-100px;
}
.socialLinks {
    position: absolute;
    bottom: 15px;
    right: 50px;
    z-index: 999
}
.socialLinks a{
    display: inline-block;
    margin-right: 10px
}
.footCon {
    position: fixed;
    bottom: 15px;
    z-index: 999;
    width:100%
}
.logo {
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 999;
    width: 180px
}
.footInfo {
  background: #444545 none repeat scroll 0 0;
  border-radius: 22px;
  display: table;
  padding: 2px 0 2px 40px;
  width: 480px;
  color: #fff;
  position: relative;
  left: -435px;
  height: 40px
}
#pageContainer .footInfo {
  background: #444545 none repeat scroll 0 0;
  border-radius: 22px;
  display: table;
  padding: 2px 0 2px 40px;
  width: 440px;
  color: #fff;
  position: relative;
  left: -435px;
  height: 39px
}
.callImg {
    position: absolute;
    right:2px;
    top: 2px;
    height: 40px;
    cursor: pointer
}
.footCon a {
    color: #000
}
.footInfoTxt {
    padding: 5px;
    display: inline-block
}
/* Common */

#pageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4
}

/* Step One*/
.textOne {
    position: absolute;
    right:-200px;
    top: 50px;
}
.yellowLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../images/yellowLayer.png);
    z-index: 1
}
.box1.outline, .box2.outline, .box3.outline {
    border: 1px solid white;
}
.stepOne {
    background: url(../images/bgOne.jpg);
    background-size:100%;
    z-index: 3;
    position: fixed;
}
.layer, .layer1 {
    position: absolute
}
.mountains {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1336px;
    height: 446px
}
/*.mountains .layer {
    width: 1000px
}*/
.scrollImg {
    bottom: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4
}
.kitli {
    position: absolute;
    bottom: 0;
    right:4%;
    width: 427px;
    height: 415px;
    z-index: 5
}
.birds {
    position: absolute;
    top:50px;
    right: -200px;
    width: 150px;
    opacity: 0.5
}
.silli {
    position: absolute;
    top: 0px;
    left: 0px;
}
.chilli {
    position: absolute;
    top: 50px;
    left: 280px;
}
.kadhai {
    position: absolute;
    top: 200px;
    left: 110px;
}
.ingridients {
    position: absolute;
    top: 110px;
    left: 170px;    
}
.objOne {
    z-index: 2
}
.cookingCon {
    position: absolute;
    top: 250px;
    left: 0;
    right:0;
    margin: auto;
    width: 600px
}
/* Step One End */
/* Step Second */
.stepTwo {
    background: url(../images/bgTwo.jpg);
    background-size:100% 100%;
    z-index: 3;
    position: fixed;
}
.mountainsTwo {
    left: 0;
    position: absolute;
    top: 15%;
    opacity: 0.6
}
.sun {
    position: absolute;
    top: 35%;
    right:5%
}
.textTwo {
    position: absolute;
    right:-200px;
    top: 50px;
}
.camel {
    position: absolute;
    left:12%;
    top: 28%;
}
/* Step Second End */
/* Step Three */
.stepThree {
    background: url(../images/bgThree.jpg);
    background-size:100%;
    z-index: 3;
    position: absolute;
    right:0
}
.lanternOne {
    position: absolute;
    left: 30%;
}
.lanternTwo {
    position: absolute;
    left: 40%;
}
.lanternThree {
    position: absolute;
    left: 50%;
}
.lanternFour {
    position: absolute;
    right: 10%;
}
.window {
    position: absolute;
    width: 280px;
    top:180px;
    right: 8%
}
.table {
    position: absolute;
    left: 0;
    right: 10%;
    margin: auto;
    bottom: 5%;
    width: 600px
}
.frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
}
.framePicOne, .framePicTwo, .framePicThree {
    position: absolute;
    left: 1%;
    right: 0;
    top: 42.2%;
    margin: auto;
}
.textThree {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
}
/* Step Three End */
/* Step Four */
.stepFour {
    background: url(../images/bgFour.jpg);
    background-size:100%;
    z-index: 4;
    position: absolute;
    right:0
}
.textFour {
    position: absolute;
    left: 3%;
    top: 18%;
    width: 250px
}
.bridge {
    position: absolute;
    right: 5%;
    top: 12%;
}
.shops {
    position: absolute;
    left: 5%;
    top: 35%;
}
.peoples {
    position: absolute;
    left: 14%;
    top: 55%;
}
.track {
    position: absolute;
    left: 0;
    bottom: 25%;
    width: 100%;
    height: 8px;
}
.tram {
    position: absolute;
    left: -55%;
    bottom: 25.5%;
}
/* Step Four End */
/* Step Five */
.stepFive {
    background: url(../images/bgFive.jpg);
    background-size:100% 100%;
    z-index: 4;
    position: absolute;
    right:0
}
.stepFive .grayDiv{
	position: relative;
	top: 30%;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 500px;
}
.textFive {
    position: absolute;
    right: 15%;
    top: 18%;
    width: 250px
}
.base {
    position: absolute;
    left: 0;
    /* top: 50%; */
    right: 0;
    bottom: 0;
    margin: auto;
}
.graySilli {
    position: absolute;
    left: 65px;
    bottom: 171px;
}
.grayChilli {
    position: absolute;
    right: 65px;
    bottom: 180px;
}
.roll {
    position: absolute;
    left: 50%;
    top: 167px;
    right: 0;
    /* bottom: 0; */
    margin-left: -17px;
}
.greenMan {
    position: absolute;
    left: 21%;
    top: 58%;
}
.redMan {
    position: absolute;
    right: 20%;
    top: 58%;
}
/* Step Five End */
/* Step Six */
.stepSix{
    background: url(../images/bgSix.jpg);
    background-size:100% 100%;
    z-index: 5;
    position: absolute;
    right:0
}
.address {
    position: absolute;
    left: 0;
    right: 0;
    top: 13%;
    margin: auto;
}
.mainShop {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
}
.greenSilli {
    position: absolute;
    left: 21%;
    top: 55%;
}
.redChilli {
    position: absolute;
    right: 20%;
    top: 55%;
}
/* Step Six End */

/* Menu page */
.menuBg {
    background: url(../images/menuBg.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.foodMenuItem{
    position: absolute;
    max-width: 250px;
}
.foodMenuItem > a{
    display: block;
}
.foodMenuItem img{
    max-width: 100%;
}
.foodMenuItem h3{
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-top: 5px;
}
.foodMenuItem a{
    color: red;
    text-decoration: none;
}
.AllTimeFavourites{
    top: 50px;
    left: 50%;
    margin-left: -75px;
}
.AllTimeFavourites img{
    width: 150px;
}
.AllTimeFavourites h3{
    top: -33px;
    left: 14px;
}
.DimSums{
    top: 260px;
    left: 74%;
    margin-left: -120px;
}
.DimSums img{
    width: 240px;
}
.DimSums h3{
    top: -30px;
    left: 22px;
}
.FizzleDrizzle{
    top: 440px;
    left: 62%;
    margin-left: -25px;
}
.FizzleDrizzle img{
    width: 50px;
}
.FizzleDrizzle h3{
    top: 0px;
    left: -30px;
}
.Desserts{
    top: 470px;
    left: 40%;
    margin-left: -42px;
}
.Desserts img{
    width: 85px;
}
.Desserts h3{
    top: -15px;
    left: 20px;
}
.Starters{
    top: 240px;
    left: 30%;
    margin-left: -60px;
}
.Starters img{
    width: 120px;
}
.Starters h3{
    top: -25px;
    left: 5px;
}
.MakeYourOwnWok {
    top: 290px;
    left: 50%;
    margin-left: -80px;
}
.MakeYourOwnWok img{
    width: 160px;
}
.MakeYourOwnWok h3{
    top: -30px;
    left: 22px;
}

/* Item Page */
.mainCon {
  display: table;
  margin: auto;
  padding: 0 0 100px;
  width: 1270px;
}
.itemImgLeft {
    float: left;
    margin-top: 10%;
    width: 28%;
    position:relative
}
.itemList {
    width: 40%;
    float: left;
    margin-top: 15%;
    margin-left: 2%;
    position: relative
}
.itemList ul, .itemList li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color:#4d4e50;
    position:relative;
}
.itemList li span{
    font-size: 18px;
    margin-right: 5px
}
.itemList li img {
    vertical-align: top
}
.itemPrice {
    display: inline-block;
    float: right;
    margin-top: 3px
}
.itemList li .itemPrice img {
    vertical-align: middle
}
.itemList p {
    display: inline-block;
    margin: 0
}
.itemList .cartBox p {
    display: block;
    margin: 0
}
[type="checkbox"] + label {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
    position: relative;
}
/*.cartBox {
    background: #e9ebe9;
    width: 230px;
    min-height: 200px;
    position: absolute;
    right: -60%;
    top: -120px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc
}*/
.cartBox {
  background: #e9ebe9 none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  float: left;
  margin: 50px 0 0 20px;
  min-height: 200px;
  position: relative;
  width: 250px;
  font-family: Arial
}
.cartBox .orderTitle {
    display: block;
    padding: 5px;
    margin: 2px;
    font-weight: bold;
    font-size: 18px; 
    border-bottom: 1px dotted #ccc 
}
.cartBox span img {
    float: right;
}
.wokCartCon, .itemCartCon {
    background: rgba(255,255,255,0.5);
    padding: 5px;
    box-shadow: 0 0 1px #ccc;
    margin-bottom: 5px
}

.selectPrice {
    color: red !important;
}
.inPrice {
    color: #888
}

.cartBox .btnSM {
    border: medium none;
    border-radius: 2px;
    display: inline-block;
    outline: 0 none;
    padding: 0 5px;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: normal;
    height: auto;
    background: #fff;
    cursor: pointer;
    float: right
}
#cart-info {
    padding: 5px;
    line-height: 20px;
/*    max-height: 300px;
    overflow: auto*/
}
.cartBox .total {
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    border-top: 1px dotted #ccc;
    font-size: 18px;
}
.cartBox .total span {
    color: red;
}
.error {
    position:absolute;
    display: inline-block;
    padding: 2px 3px;
    background: red;
    color: #fff;
    font-size: 10px;
    left: 0;
    top:100%;
    z-index: 9999
}
.error:before {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid red;
    position: absolute;
    bottom: 100%;

}

/* WOK */
.wokCon .logo {
    position: relative;    
}
.wokCon .footCon {
    position: relative;  
}
.bx-wrapper .bx-viewport{
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.bx-wrapper img{
    display: inline;
}
/*.cartBox.wok {
    right: 6%;
    top: -65px;
    z-index: 100;
}*/
.cartBox.wok {
    z-index: 100;
}
.cartBox.wok span{
    cursor: pointer;
}
.tabs{
    width: 50% !important;
    background-color: transparent;
}
.tabs .tab a{
    color: #DD0014;
    text-decoration: none;
}
.stepNo{
    display: inline !important;
    width: 55px;
}
.stepLabel{
    font-size: 35px;
    text-align: center;
}
.itemBoxContainer{
    text-align: center;
    max-width: 890px;
    margin: 30px auto;
}
#step2 .itemBoxContainer{
    max-width: 990px;
}
#step3 .itemBoxContainer{
    max-width: 995px;
}
.itemBox{
    position: relative;
    width: 125px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}
.extraItem.itemBox{
    margin: 1% 2%;
    cursor: pointer;
    width: 45%
}
#step2 .itemBox{
    width: 225px;
}
#step3 .itemBox{
    width: 160px;
    margin: 5px;
}
.itemBox .itemPic{
    width: 90px;
    position: relative;
}
#step3 .itemBox .itemPic{
    width: 70px;
}
.itemBox .itemLabel{
    font-size: 13px;
    text-align: center;
}
#step3 .itemBox .itemLabel{
    margin-top: 2px;
}
.itemLabel span{
    color: #fa0404;
}
.addToKadhai{
    position: relative;
    top: 3px;
}
.spiciness{
    position: relative;
    top: 3px;
}
.chilli1{
    width: 5px;
}
.chillier{
    width: 12px;
}
.chilliest{
    width: 21px;
}
.heart{
    width: 12px;
}
#step4 .extraItemBlockContainer{
    width: 650px;
    margin: auto;
}
#step4 .extraItemBlock{
    display: table-cell;
    padding: 0 15px;
}
#step4 .extraItem{
    height: 35px;
    display:inline-block
}
#step4 .extraItem span{
    display: table-cell;
}
#step4 .extraItemPic{
    width: 50px;
    vertical-align: top;
    text-align: center;
}
#step4 .extraItemPic img{
    width: 30px;
}
#step4 .extraItemName{
    width: 130px;
    line-height: 12px;
}
#step4 .extraItemAdd{
    width: 30px;
    text-align: center;
}
.wok-kadhai{
    display: block;
    margin: 0 auto 80px;
    width: 190px;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 25px;
  line-height: 25px;
  padding-left: 25px;
  position: relative;
  transition: all 0.28s ease 0s;
}
#checkout {
  float: right;
  height: auto;
  line-height: normal;
  margin: 5px;
  padding: 5px 10px;
}
#cart-info p {
    margin: 2px
}
.cname {
    color:red
}
.wTitle {
    color:green;
    font-size: 15px;
}
.cstep {
    font-size: 15px;
    margin: 8px 2px 2px !important;
}
#completeWok {
    display: block;
    margin: auto;
}
.eHide {
    display: none !important;
}
.steps {
  float: left;
  margin-top: 50px;
  width: 70%;
}

/**
 * Polaroid Images
 */
.galleryCon {
    width: 1200px;
    margin: 130px auto;
    position: relative
}

.polaroid-images
{
	margin:10px 0;
	float: left;
}
.polaroid-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
	position: relative;
}
.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}
.polaroid-images img {
	display: block;
	width: inherit;
}

.polaroid-images a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}
.polaroid-images a:nth-child(3n) {
	-webkit-transform: rotate(-24deg);
	-moz-transform: rotate(-24deg);
	transform: rotate(-24deg);
}
.polaroid-images a:nth-child(4n)
{
	-webkit-transform: rotate(14deg);
	-moz-transform: rotate(14deg);
	transform: rotate(14deg);
}
.polaroid-images a:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	transform: rotate(-18deg);
}
.polaroid-images a:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
	box-shadow: 0 10px 20px rgba(0,0,0,.7);
}


/* Learn Chinese */
.learnChineseCon {
    width: 1200px;
    margin: 100px auto;
    position: relative
}
.board {
    width: 800px;
    margin: 0 auto;
    position: relative
}
.board img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}
.learnChineseCon h1 {
    text-align: center
}
.chineseQuotes {
    list-style: decimal;
    color: white;
    left: 60px;
    top:140px;
    position: relative;
    z-index: 1;
    font-size: 28px;
}
.chineseQuotes li {
    padding-bottom: 35px;
    font-family: 'Indie Flower', cursive;
}
/* News */
.newsCon {
    width: 1200px;
    margin: 130px auto;
    position: relative
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 0.8rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 42%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* End News */
@media screen and (max-width: 1280px) {
    .mountains {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width:1100px;
        height: 560px
    }
    .mountains img, .mountainsTwo img {
        width:100%
    }
    .mountainsTwo {
        left: 0;
        position: absolute;
        top: 21%;
        opacity: 0.6;
        width: 600px
    }
    .textTwo {
        width: 395px
    }
}